{% extends "base.html" %}

{% block content %}
<div class="posts">
  <div class="row">
    {% for post in post_list %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-content">
              <h2 class="card-title">{{ post.title }}</h2>
              <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_at}}  </p>
              <p class="card-text">{{post.content|truncatewords:30|safe}}</p>
              <a href="{% url 'post_detail' post.slug  %}" class="btn btn-secondary">Read More</a>
            </div>
          </div>
      </div>
    {% endfor %}
</div>
<hr>

{% if is_paginated %}
<nav aria-label="Page navigation container"></nav>
<ul class="pagination justify-content-center">
  {% if page_obj.has_previous %}
  <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-lg btn-block">&laquo; PREV </a></li>
  {% endif %}
  {% if page_obj.has_next %}
  <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-lg btn-block"> NEXT &raquo;</a></li>
  {% endif %}
</ul>
</nav>
</div>
{% endif %}
{%endblock%}